<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/yavirac" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Yavirac' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Reports' | translate }}
        </a>
        <!--<a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/">
            {{ 'More Theme' | translate }}
        </a>-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages1')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'CRUD Entity' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages1'">
                <ul class="submenu">
                    <li>
                       <a [routerLink]="['/asignatura']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Asignatura' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/asignaturasolicitudmatricula']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'AsignaturaSolicitudMatricula' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/asistencia']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Asistencia' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/aula']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Aula' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/aulasasignaturas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'AulasAsignaturas' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/carrera']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Carrera' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/categorianota']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'CategoriaNota' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/contacto']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Contacto' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/cuenta']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Cuenta' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/cupo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Cupo' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/datosestudiante']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'DatosEstudiante' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/detallenotas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'DetalleNotas' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/discapacidad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Discapacidad' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/docente']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Docente' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/docenteasignatura']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'DocenteAsignatura' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/documento']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Documento' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/educacioncontinua']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'EducacionContinua' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/enfermedad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Enfermedad' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/estado']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Estado' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/estadocivil']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'EstadoCivil' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/estadopersona']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'EstadoPersona' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/estadosolicitud']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'EstadoSolicitud' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/estudiante']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Estudiante' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/etnia']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Etnia' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/experiencialaboral']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'ExperienciaLaboral' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/genero']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Genero' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/hobbies']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Hobbies' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/horasclase']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'HorasClase' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/institucion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Institucion' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/instituto']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Instituto' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/jornada']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Jornada' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/jornadacarrera']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'JornadaCarrera' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/malla']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Malla' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/matricula']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Matricula' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/matriculaasignatura']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'MatriculaAsignatura' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/modalidad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Modalidad' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/motivosalida']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'MotivoSalida' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/niveltitulo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'NivelTitulo' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/notas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Notas' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/ocupacion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Ocupacion' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/paralelo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Paralelo' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/parcial']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Parcial' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/periodoacademico']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'PeriodoAcademico' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/periodolectivo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'PeriodoLectivo' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/persona']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Persona' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/ponderacion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Ponderacion' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/requisito']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Requisito' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/roles']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Roles' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/solicitudmatricula']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'SolicitudMatricula' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tipoaula']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoAula' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tipodiscapacidad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoDiscapacidad' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tipoeducacioncontinua']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoEducacionContinua' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tipoingresos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoIngresos' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tipoinstitucionprocedencia']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoInstitucionProcedencia' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tiporequisito']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoRequisito' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tiposangre']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TipoSangre' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/titulo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Titulo' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/tutorcarrera']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'TutorCarrera' | translate }} </a>
                    </li>
                    <li>
                       <a [routerLink]="['/ubicacion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                       <i class="fa fa-users"></i>&nbsp;{{ 'Ubicacion' | translate }} </a>
                    </li>
                </ul>
            </li>
        </div>
        <!--
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages2')">
                <span>
                    <i class="fa fa-plus"></i>&nbsp; {{ 'Menu 2' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages2'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/Otros']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;{{ 'Otros' | translate }} </a>
                    </li>
                </ul>
            </li>
        </div>-->
    </ul>
</nav>