<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-center">Datos Personales</h2>
        </div>
    </div>
    <div style="width:100%; height:30px;"></div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Identificación</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="number" class="form-control" id="identificacion" placeholder="Identificación">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Primer Nombre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="primerNombre" placeholder="Primer Nombre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Segundo Nombre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="segundoNombre" placeholder="Segundo Nombre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Primer Apellido</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="primerApellido" placeholder="Primer Apellido">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Segundo Apellido</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="segundoApellido" placeholder="Segundo Apellido">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Fecha de Nacimiento</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="date" class="form-control" id="fechaNacimiento" placeholder="Fecha de Nacimiento">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Teléfono Celular</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="number" class="form-control" id="telefonoCelular" placeholder="Teléfono Celular">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Teléfono Domicilio</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="number" class="form-control" id="telefonoDomicilio" placeholder="Teléfono Domicilio">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Correo Electrónico</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="email" class="form-control" id="correoElectronico" placeholder="Correo Electrónico">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Género</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idGenero" placeholder="Género">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Identificación Étnica</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idEtnia" placeholder="Identificación Étnica">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">País Domicilio</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idPaisDomicilio" placeholder="País Domicilio">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Provincia Domicilio</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idProvinciaDomicilio" placeholder="Provincia Domicilio">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Ciudad Domicilio</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idCiudadDomicilio" placeholder="Ciudad Domicilio">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Parroquia Domicilio</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idParroquiaDomicilio" placeholder="Parroquia Domicilio">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Dirección Domicilio</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idDireccionDomicilio" placeholder="Dirección Domicilio">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">País Nacimiento</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idPaisNacimiento" placeholder="País Nacimiento">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Provincia Nacimiento</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idProvinciaNacimiento" placeholder="Provincia Nacimiento">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Ciudad Nacimiento</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idCiudadNacimiento" placeholder="Ciudad Nacimiento">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Parroquia Nacimiento</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idParroquiaNacimiento" placeholder="Parroquia Nacimiento">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Estado Civil</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idEstadoCivil" placeholder="Estado Civil">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Ingresos Familiares</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idIngresosFamiliares" placeholder="Ingresos Familiares">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Tipo de Sangre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idTipoSangre" placeholder="Tipo de Sangre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Número de Hijos</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="number" class="form-control" id="numeroHijos" placeholder="Número de Hijos">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Ocupación</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idOcupacion" placeholder="Ocupación">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Carnet Conadis</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <label class="switch">
                <input type="checkbox" id="carnetConadis">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Tipo de Discapacidad</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idTipoDiscapacidad" placeholder="Tipo de Discapacidad">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Porcentaje de Discapacidad</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="number" class="form-control" id="porcentajeDiscapacidad" placeholder="Porcentaje de Discapacidad">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Tipo de Institución</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idTipoInstitucion" placeholder="Tipo de Institución de Procedencia">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Institución de Procedencia</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="idInstitucion" placeholder="Institución de Procedencia">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Título de Bachiller</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="tituloBachiller" placeholder="Título de Bachiller">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nota de Postulación</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="number" class="form-control" id="notaPostulación" placeholder="Nota de Postulación">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nombre del Padre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="nombrePadre" placeholder="Nombre del Padre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nacionalidad del Padre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="nacionalidadPadre" placeholder="Nacionalidad del Padre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nivel de Estudios del Padre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="estudiosPadre" placeholder="Nivel de Estudios del Padre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nombre de la Madre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="nombreMadre" placeholder="Nombre de la Madre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nacionalidad de la Madre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="nacionalidadMadre" placeholder="Nacionalidad de la Madre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Nivel de Estudios de la Madre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="text" class="form-control" id="estudiosMadre" placeholder="Nivel de Estudios de la Madre">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Cambiar Contraseña</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <label class="switch">
                <input type="checkbox" id="cambiarClave">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Contraseña</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="password" class="form-control" id="clave" placeholder="Nueva Contraseña">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Confirmar Contraseña</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="password" class="form-control" id="claveConfirmada" placeholder="Confirmar Nueva Contraseña">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div id="claveConfirmadaMensaje">
        <div class="form-group row">
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
            <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
                <div class="alert alert-success text-center">
                    <strong>Clave confirmada satisfactoriamente!</strong>
                </div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        </div>
        <div class="form-group row">
            <div style="width: 100%; text-align:center;">
                <div>
                    <button type="button" class="btn btn-primary">
                        <span class="fa fa-refresh"></span>&nbsp;Actualizar Contraseña
                    </button>
                </div>
            </div>
        </div>   
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Fotografía</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <input type="file" class="form-control" id="foto" placeholder="Fotografía">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
            <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.iconhot.com%2Ficon%2Fpng%2Fglossy%2F256%2Fuser-male-3.png&f=1" class="img-circle" alt="Foto" width="150px">
        </div>
    </div>   
    <div class="form-group row">
        <div style="width: 100%; text-align:center;">
            <div>
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-refresh"></span>&nbsp;Actualizar
                </button>
                <button type="button" class="btn btn-danger">
                    <span class="fa fa-remove"></span>&nbsp;Cancelar
                </button>
            </div>
        </div>
    </div>   
</div>