<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <h2 class="text-center">Datos Personales</h2>
        </div>
    </div>
    <div style="width:100%; height:20px;"></div>
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-right">
                Identificación
            </h5>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>