page-home {

}

.fondo {
  float:left;
  background-color: white;
  border-color: blue;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px 1px 1px 1px;
  height: 14cm;
}

.informacion {
  float: left;
  width: 100%;
  height: 2.5cm;
  text-align: right;
  color: white;
  font-style: oblique;
  border-radius: 0px 0px 20px 20px;
  background-color: blue;
}

.logo {
  height: 3cm;
  padding-top:0.25cm;
}

.foto {
  background-color: white;
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  height: 6cm;
  max-width: 190px;
  box-shadow: 5px 5px rgba(0,0,255,0.5);
}

.cargo {
  float: left;
  width: 100%;
  text-align: right;
  color: white;
  font-style: oblique;
  padding-right: 0.75cm;
  padding-top: 15px;
  border-radius: 20px 20px 0px 0px;
  background-color: blue;
  height: 1.5cm;
}

.fotoContainer {
  float: left;
  width: 60%;
  height: 7cm;
  padding-left:0.5cm;
}

.codigoQR {
  float:left;
  width: 40%;
  padding-left: 0.5cm;
  padding-top: 0.25cm;
}

.datos {
  float: right;
  color:white;
  width:70%;
  padding-right: 0.5cm;
}

