<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4" >
            <input type="number" id="numero" [(ngModel)]="miNumero" >
        </div>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4" >
            <input type="text" id="numero" [(ngModel)]="miTexto" >
        </div>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4" >
            <input type="date" id="numero" [(ngModel)]="miFecha" >
        </div>
    </div>
</div>
<div class="container" *ngIf="mostrarContenedor2">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4" >
            <h1>{{ miNumero }}</h1>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4" >
            <h1>{{ miTexto }}</h1>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4" >
            <h1>{{ miFecha }}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-info" id="mostrar" (click)="mostrarContenedor()">Mostrar</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-success" id="ocultar" (click)="ocultarContenedor()">Ocultar</button>
        </div>

    </div>

</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <select id="lista" class="form-control" [(ngModel)]="indexLista">
                <option *ngFor='let listaCurso of listaEstudiante let j = index' value={{j}}>{{listaCurso.apellido1}}</option>
              </select>
        </div>
        <h1>{{ listaEstudiante[indexLista].nombre1 }}</h1>
    </div>

</div>