<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Ignug</h1>
            <form role="form">
                <div class="form-content">                    
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Ingresar con Google </a>            
            </form>
        </div>
    </div>
</div>
