<div class="container-fluid">
    <div class="form-group row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <img alt="YAVIRAC" width="150px" src="http://www.yavirac.edu.ec/ignug/images/logoYavirac.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <h2 class="text-center">Hoja de Datos Personales</h2>
        </div>
    </div>
    <div style="width:100%; height:30px;"></div>
    <div class="form-group row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" >
               <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.iconhot.com%2Ficon%2Fpng%2Fglossy%2F256%2Fuser-male-3.png&f=1" class="img-circle" alt="Foto" width="150px">
            </div>
            <label class="col-form-label">Identificación:</label><h4 id="identificacion">{{personaLogeada.identificacion}}</h4>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="form-group row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Primer Nombre</label><br/>
                    <label class="col-form-label">{{personaLogeada.nombre1}}</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Segundo Nombre</label><br/>
                    <label class="col-form-label">{{personaLogeada.nombre2}}</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Primer Apellido</label><br/>
                    <label class="col-form-label">{{personaLogeada.apellido1}}</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Segundo Apellido</label><br/>
                    <label class="col-form-label">{{personaLogeada.apellido2}}</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Género</label><br/>
                    <label class="col-form-label">{{personaLogeada.idGenero}}</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Fecha de Nacimiento</label><br/>
                    <label class="col-form-label">{{personaLogeada.fechaNacimiento}}</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Teléfono Celular</label><br/>
                    <label class="col-form-label">{{personaLogeada.telefonoCelular}}</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
                    <label class="col-form-label">Teléfono Domicilio</label><br/>
                    <label class="col-form-label">{{personaLogeada.telefonoDomicilio}}</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="col-form-label">Correo Electrónico</label><br/>
                    <label class="col-form-label">{{personaLogeada.correoElectronico}}</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="col-form-label">Dirección Domicilio</label><br/>
                    <label class="col-form-label">{{personaLogeada.direccionDomicilio}}</label>
                </div>
            </div>                        
        </div>
    </div>    
    <div class="form-group row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Estado Civil</label><br/>
            <label class="col-form-label">{{personaLogeada.idEstadoCivil}}</label>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Identificación Étnica</label><br/>
            <label class="col-form-label">{{personaLogeada.idEtnia}}</label>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Tipo de Sangre</label><br/>
            <label class="col-form-label">{{personaLogeada.idTipoSangre}}</label>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Número de Hijos</label><br/>
            <label class="col-form-label">{{personaLogeada.numeroHijos}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">País Domicilio</label>
            <input type="text" class="form-control" id="idPaisDomicilio" placeholder="País Domicilio">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Provincia Domicilio</label>
            <input type="text" class="form-control" id="idProvinciaDomicilio" placeholder="Provincia Domicilio">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Cantón Domicilio</label>
            <input type="text" class="form-control" id="idCantonDomicilio" placeholder="Cantón Domicilio">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Parroquia Domicilio</label>
            <input type="text" class="form-control" id="idParroquiaDomicilio" placeholder="Parroquia Domicilio">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">País Nacimiento</label>
            <input type="text" class="form-control" id="idPaisNacimiento" placeholder="País Nacimiento">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Provincia Nacimiento</label>
            <input type="text" class="form-control" id="idProvinciaNacimiento" placeholder="Provincia Nacimiento">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Cantón Nacimiento</label>
            <input type="text" class="form-control" id="idCantonNacimiento" placeholder="Cantón Nacimiento">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Parroquia Nacimiento</label>
            <input type="text" class="form-control" id="idParroquiaNacimiento" placeholder="Parroquia Nacimiento">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Ingresos Familiares</label><br/>
            <label class="col-form-label">{{personaLogeada.idIngresos}}</label>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Ocupación</label><br/>
            <label class="col-form-label">{{personaLogeada.idOcupacion}}</label>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Tipo de Discapacidad</label><br/>
            <label class="col-form-label">{{personaLogeada.idTipoDiscapacidad}}</label>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Porcentaje de Discapacidad</label><br/>
            <label class="col-form-label">{{personaLogeada.porcentajeDiscapacidad}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Tipo de Institución</label>
            <input type="text" class="form-control" id="idTipoInstitucion" placeholder="Tipo de Institución de Procedencia">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Institución de Procedencia</label>
            <input type="text" class="form-control" id="idInstitucion" placeholder="Institución de Procedencia">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Título de Bachiller</label>
            <input type="text" class="form-control" id="tituloBachiller" placeholder="Título de Bachiller">
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
            <label class="col-form-label">Nota de Postulación</label>
            <input type="number" class="form-control" id="notaPostulación" placeholder="Nota de Postulación">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <label class="col-form-label">Nombre del Padre</label><br/>
            <label class="col-form-label">{{personaLogeada.nombrePadre}}</label>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <label class="col-form-label">Nacionalidad del Padre</label><br/>
            <label class="col-form-label">{{personaLogeada.paisOrigenPadre}}</label>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <label class="col-form-label">Nivel de Estudios del Padre</label><br/>
            <label class="col-form-label">{{personaLogeada.idNivelEstudioPadre}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <label class="col-form-label">Nombre de la Madre</label><br/>
            <label class="col-form-label">{{personaLogeada.nombreMadre}}</label>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <label class="col-form-label">Nacionalidad de la Madre</label><br/>
            <label class="col-form-label">{{personaLogeada.paisOrigenMadre}}</label>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <label class="col-form-label">Nivel de Estudios de la Madre</label><br/>
            <label class="col-form-label">{{personaLogeada.idNivelEstudioMadre}}</label>
        </div>
    </div>
    <div class="form-group row">
        <div style="width: 100%; text-align:center;">
            <div>
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-print"></span>&nbsp;Imprimir
                </button>
            </div>
        </div>
    </div>   
</div>