<div class="container">
   <div class="row">
      <div class="col-md-12 text-right">
         <h2 style="margin-top:0px">Catálogo de Persona</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="btn-toolbar">
            <div>
               <button type="button" class="btn btn-default" (click)="refresh()">
                  <span class="fa fa-refresh"></span>&nbsp;Leer
               </button>
               <button type="button" class="btn btn-success" (click)="mostrarVentanaEdicion()" [ngClass]='{disabled: entidadSeleccionada.id === 0}'>
                  <span class="fa fa-edit"></span>&nbsp;Editar
               </button>
               <button type="button" class="btn btn-info" (click)="mostrarVentanaNuevo()">
                  <span class="fa fa-plus"></span>&nbsp;Nuevo
               </button>
               <button type="button" class="btn btn-danger" (click)="delete(entidadSeleccionada); $event.stopPropagation();" [ngClass]='{disabled: entidadSeleccionada.id === 0}'>
                  <span class="fa fa-remove"></span>&nbsp;Borrar
               </button>
            </div>
         </div>
      </div>
   </div>
   <div class="row" style="margin-top:15px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <table class="table table-striped table-bordered">
            <thead class="thead-dark">
               <tr>
                  <th>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let actual of entidades" (click)="onSelect(actual)">
                  <td>
                     <i class="fa fa-hand-o-right" [hidden]="!estaSeleccionado(actual)"></i>
                  </td>
                  <td>{{actual.id}}</td>
                  <td>{{actual.identificacion}}</td>
                  <td>{{actual.nombre1}}</td>
                  <td>{{actual.nombre2}}</td>
                  <td>{{actual.apellido1}}</td>
                  <td>{{actual.apellido2}}</td>
                  <td>{{actual.fechaNacimiento}}</td>
                  <td>{{actual.telefonoCelular}}</td>
                  <td>{{actual.telefonoDomicilio}}</td>
                  <td>{{actual.correoElectronico}}</td>
                  <td>{{actual.idGenero}}</td>
                  <td>{{actual.idUbicacionDomicilioPais}}</td>
                  <td>{{actual.idUbicacionDomicilioProvincia}}</td>
                  <td>{{actual.idUbicacionDomicilioCanton}}</td>
                  <td>{{actual.idUbicacionDomicilioParroquia}}</td>
                  <td>{{actual.direccionDomicilio}}</td>
                  <td>{{actual.idEstadoCivil}}</td>
                  <td>{{actual.idUbicacionNacimientoPais}}</td>
                  <td>{{actual.idUbicacionNacimientoProvincia}}</td>
                  <td>{{actual.idUbicacionNacimientoCanton}}</td>
                  <td>{{actual.idUbicacionNacimientoParroquia}}</td>
                  <td>{{actual.idIngresos}}</td>
                  <td>{{actual.idEtnia}}</td>
                  <td>{{actual.idTipoSangre}}</td>
                  <td>{{actual.numeroHijos}}</td>
                  <td>{{actual.idOcupacion}}</td>
                  <td>{{actual.carnetConadis}}</td>
                  <td>{{actual.idTipoDiscapacidad}}</td>
                  <td>{{actual.porcentajeDiscapacidad}}</td>
                  <td>{{actual.nombrePadre}}</td>
                  <td>{{actual.paisOrigenPadre}}</td>
                  <td>{{actual.idNivelEstudioPadre}}</td>
                  <td>{{actual.nombreMadre}}</td>
                  <td>{{actual.paisOrigenMadre}}</td>
                  <td>{{actual.idNivelEstudioMadre}}</td>
                  <td>{{actual.foto}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="row" style="margin-top:15px" *ngIf="esVisibleVentanaEdicion">
      <div class="jumbotron">
         <h4>
            <span *ngIf="entidadSeleccionada.id != 0">
               Edición del género {{entidadSeleccionada.descripcion | uppercase}}
            </span>
            <span *ngIf="entidadSeleccionada.id === 0">
               Creación del género
            </span>
         </h4>
         <hr>
         <form>
         <div class="form-group row">
            <label for="id" class="col-sm-4 col-form-label">Identificador</label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control-plaintext" id="id" name="id" [(ngModel)]="entidadSeleccionada.id">
            </div>
         </div>
         <div class="form-group row">
            <label for="identificacion" class="col-sm-4 col-form-label">identificacion</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="identificacion" [(ngModel)]="entidadSeleccionada.identificacion">
            </div>
         </div>
         <div class="form-group row">
            <label for="nombre1" class="col-sm-4 col-form-label">nombre1</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombre1" name="nombre1" placeholder="nombre1" [(ngModel)]="entidadSeleccionada.nombre1">
            </div>
         </div>
         <div class="form-group row">
            <label for="nombre2" class="col-sm-4 col-form-label">nombre2</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombre2" name="nombre2" placeholder="nombre2" [(ngModel)]="entidadSeleccionada.nombre2">
            </div>
         </div>
         <div class="form-group row">
            <label for="apellido1" class="col-sm-4 col-form-label">apellido1</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="apellido1" name="apellido1" placeholder="apellido1" [(ngModel)]="entidadSeleccionada.apellido1">
            </div>
         </div>
         <div class="form-group row">
            <label for="apellido2" class="col-sm-4 col-form-label">apellido2</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="apellido2" name="apellido2" placeholder="apellido2" [(ngModel)]="entidadSeleccionada.apellido2">
            </div>
         </div>
         <div class="form-group row">
            <label for="fechaNacimiento" class="col-sm-4 col-form-label">fechaNacimiento</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" placeholder="fechaNacimiento" [(ngModel)]="entidadSeleccionada.fechaNacimiento">
            </div>
         </div>
         <div class="form-group row">
            <label for="telefonoCelular" class="col-sm-4 col-form-label">telefonoCelular</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="telefonoCelular" name="telefonoCelular" placeholder="telefonoCelular" [(ngModel)]="entidadSeleccionada.telefonoCelular">
            </div>
         </div>
         <div class="form-group row">
            <label for="telefonoDomicilio" class="col-sm-4 col-form-label">telefonoDomicilio</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="telefonoDomicilio" name="telefonoDomicilio" placeholder="telefonoDomicilio" [(ngModel)]="entidadSeleccionada.telefonoDomicilio">
            </div>
         </div>
         <div class="form-group row">
            <label for="correoElectronico" class="col-sm-4 col-form-label">correoElectronico</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="correoElectronico" name="correoElectronico" placeholder="correoElectronico" [(ngModel)]="entidadSeleccionada.correoElectronico">
            </div>
         </div>
         <div class="form-group row">
            <label for="idGenero" class="col-sm-4 col-form-label">idGenero</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idGenero" name="idGenero" placeholder="idGenero" [(ngModel)]="entidadSeleccionada.idGenero">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionDomicilioPais" class="col-sm-4 col-form-label">idUbicacionDomicilioPais</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionDomicilioPais" name="idUbicacionDomicilioPais" placeholder="idUbicacionDomicilioPais" [(ngModel)]="entidadSeleccionada.idUbicacionDomicilioPais">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionDomicilioProvincia" class="col-sm-4 col-form-label">idUbicacionDomicilioProvincia</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionDomicilioProvincia" name="idUbicacionDomicilioProvincia" placeholder="idUbicacionDomicilioProvincia" [(ngModel)]="entidadSeleccionada.idUbicacionDomicilioProvincia">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionDomicilioCanton" class="col-sm-4 col-form-label">idUbicacionDomicilioCanton</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionDomicilioCanton" name="idUbicacionDomicilioCanton" placeholder="idUbicacionDomicilioCanton" [(ngModel)]="entidadSeleccionada.idUbicacionDomicilioCanton">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionDomicilioParroquia" class="col-sm-4 col-form-label">idUbicacionDomicilioParroquia</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionDomicilioParroquia" name="idUbicacionDomicilioParroquia" placeholder="idUbicacionDomicilioParroquia" [(ngModel)]="entidadSeleccionada.idUbicacionDomicilioParroquia">
            </div>
         </div>
         <div class="form-group row">
            <label for="direccionDomicilio" class="col-sm-4 col-form-label">direccionDomicilio</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="direccionDomicilio" name="direccionDomicilio" placeholder="direccionDomicilio" [(ngModel)]="entidadSeleccionada.direccionDomicilio">
            </div>
         </div>
         <div class="form-group row">
            <label for="idEstadoCivil" class="col-sm-4 col-form-label">idEstadoCivil</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idEstadoCivil" name="idEstadoCivil" placeholder="idEstadoCivil" [(ngModel)]="entidadSeleccionada.idEstadoCivil">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionNacimientoPais" class="col-sm-4 col-form-label">idUbicacionNacimientoPais</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionNacimientoPais" name="idUbicacionNacimientoPais" placeholder="idUbicacionNacimientoPais" [(ngModel)]="entidadSeleccionada.idUbicacionNacimientoPais">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionNacimientoProvincia" class="col-sm-4 col-form-label">idUbicacionNacimientoProvincia</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionNacimientoProvincia" name="idUbicacionNacimientoProvincia" placeholder="idUbicacionNacimientoProvincia" [(ngModel)]="entidadSeleccionada.idUbicacionNacimientoProvincia">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionNacimientoCanton" class="col-sm-4 col-form-label">idUbicacionNacimientoCanton</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionNacimientoCanton" name="idUbicacionNacimientoCanton" placeholder="idUbicacionNacimientoCanton" [(ngModel)]="entidadSeleccionada.idUbicacionNacimientoCanton">
            </div>
         </div>
         <div class="form-group row">
            <label for="idUbicacionNacimientoParroquia" class="col-sm-4 col-form-label">idUbicacionNacimientoParroquia</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idUbicacionNacimientoParroquia" name="idUbicacionNacimientoParroquia" placeholder="idUbicacionNacimientoParroquia" [(ngModel)]="entidadSeleccionada.idUbicacionNacimientoParroquia">
            </div>
         </div>
         <div class="form-group row">
            <label for="idIngresos" class="col-sm-4 col-form-label">idIngresos</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idIngresos" name="idIngresos" placeholder="idIngresos" [(ngModel)]="entidadSeleccionada.idIngresos">
            </div>
         </div>
         <div class="form-group row">
            <label for="idEtnia" class="col-sm-4 col-form-label">idEtnia</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idEtnia" name="idEtnia" placeholder="idEtnia" [(ngModel)]="entidadSeleccionada.idEtnia">
            </div>
         </div>
         <div class="form-group row">
            <label for="idTipoSangre" class="col-sm-4 col-form-label">idTipoSangre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idTipoSangre" name="idTipoSangre" placeholder="idTipoSangre" [(ngModel)]="entidadSeleccionada.idTipoSangre">
            </div>
         </div>
         <div class="form-group row">
            <label for="numeroHijos" class="col-sm-4 col-form-label">numeroHijos</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="numeroHijos" name="numeroHijos" placeholder="numeroHijos" [(ngModel)]="entidadSeleccionada.numeroHijos">
            </div>
         </div>
         <div class="form-group row">
            <label for="idOcupacion" class="col-sm-4 col-form-label">idOcupacion</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idOcupacion" name="idOcupacion" placeholder="idOcupacion" [(ngModel)]="entidadSeleccionada.idOcupacion">
            </div>
         </div>
         <div class="form-group row">
            <label for="carnetConadis" class="col-sm-4 col-form-label">carnetConadis</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="carnetConadis" name="carnetConadis" placeholder="carnetConadis" [(ngModel)]="entidadSeleccionada.carnetConadis">
            </div>
         </div>
         <div class="form-group row">
            <label for="idTipoDiscapacidad" class="col-sm-4 col-form-label">idTipoDiscapacidad</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idTipoDiscapacidad" name="idTipoDiscapacidad" placeholder="idTipoDiscapacidad" [(ngModel)]="entidadSeleccionada.idTipoDiscapacidad">
            </div>
         </div>
         <div class="form-group row">
            <label for="porcentajeDiscapacidad" class="col-sm-4 col-form-label">porcentajeDiscapacidad</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="porcentajeDiscapacidad" name="porcentajeDiscapacidad" placeholder="porcentajeDiscapacidad" [(ngModel)]="entidadSeleccionada.porcentajeDiscapacidad">
            </div>
         </div>
         <div class="form-group row">
            <label for="nombrePadre" class="col-sm-4 col-form-label">nombrePadre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombrePadre" name="nombrePadre" placeholder="nombrePadre" [(ngModel)]="entidadSeleccionada.nombrePadre">
            </div>
         </div>
         <div class="form-group row">
            <label for="paisOrigenPadre" class="col-sm-4 col-form-label">paisOrigenPadre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="paisOrigenPadre" name="paisOrigenPadre" placeholder="paisOrigenPadre" [(ngModel)]="entidadSeleccionada.paisOrigenPadre">
            </div>
         </div>
         <div class="form-group row">
            <label for="idNivelEstudioPadre" class="col-sm-4 col-form-label">idNivelEstudioPadre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idNivelEstudioPadre" name="idNivelEstudioPadre" placeholder="idNivelEstudioPadre" [(ngModel)]="entidadSeleccionada.idNivelEstudioPadre">
            </div>
         </div>
         <div class="form-group row">
            <label for="nombreMadre" class="col-sm-4 col-form-label">nombreMadre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nombreMadre" name="nombreMadre" placeholder="nombreMadre" [(ngModel)]="entidadSeleccionada.nombreMadre">
            </div>
         </div>
         <div class="form-group row">
            <label for="paisOrigenMadre" class="col-sm-4 col-form-label">paisOrigenMadre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="paisOrigenMadre" name="paisOrigenMadre" placeholder="paisOrigenMadre" [(ngModel)]="entidadSeleccionada.paisOrigenMadre">
            </div>
         </div>
         <div class="form-group row">
            <label for="idNivelEstudioMadre" class="col-sm-4 col-form-label">idNivelEstudioMadre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="idNivelEstudioMadre" name="idNivelEstudioMadre" placeholder="idNivelEstudioMadre" [(ngModel)]="entidadSeleccionada.idNivelEstudioMadre">
            </div>
         </div>
         <div class="form-group row">
            <label for="foto" class="col-sm-4 col-form-label">foto</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="foto" name="foto" placeholder="foto" [(ngModel)]="entidadSeleccionada.foto">
            </div>
         </div>
         </form>
         <hr>
         <button type="button" class="btn btn-primary col-offset-sm-4" (click)="aceptar()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;Guardar
         </button>
         <button type="button" class="btn btn-default" id="cerrar" (click)="cerrarVentanaEdicion()">Cerrar</button>
      </div>
   </div>
</div>
