<div class="container-fluid">
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <img alt="YAVIRAC" width="150px" src="http://www.yavirac.edu.ec/ignug/images/logoYavirac.png" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="text-center">Solicitud de Matrícula</h2>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <span>Quito, 22 de noviembre del 2017</span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            Dr. Iván Oscar Borja Carrera<br/>Instituto Tecnológico Superior de Turismo y Patrimonio Yavirac<br/>RECTOR.-
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <div style="width:100%;height:20px;"></div>
            <p align="justify">Yo, <strong>Luis Alfonso Salazar Vaca</strong> con documento de identidad Nº <strong>1720364049</strong>, hago uso de mi cupo en la carrera <strong>Tecnología Superior en Desarrollo de Software</strong> para el período lectivo <strong>Noviembre 2017 - Abril 2018</strong>, con la inscripción en las siguientes asignaturas:</p>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            id
                        </th>
                        <th>
                            Asignatura
                        </th>
                        <th>
                            Horas
                        </th>
                        <th>
                            Período Académico
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Matemáticas
                        </td>
                        <td>
                            12
                        </td>
                        <td>
                            Primero
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Programación Orientada a Objetos
                        </td>
                        <td>
                            13
                        </td>
                        <td>
                            Primero
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Programación I
                        </td>
                        <td>
                            4
                        </td>
                        <td>
                            Segundo
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">
            <p align="left">Con sentimientos de distinguida consideración.</p>
            <div style="width:100%;height:20px;"></div>
            <p align="left">Atentamente,</p>
            <div style="width:100%;height:60px;"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div style="float:left; padding-right:50px; border-style: solid none none none; border-width:1px;">
                <strong>Luis Alfonso Salazar Vaca</strong><br/>
                <strong>1720364049</strong>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left">                
            <div style="float:left; width:100%; height:20px; border-style: dotted none none none; border-width:1px;"></div>
            <h5>REQUISITOS:</h5>
            <ul class="a">
                <li>2 copias a color del documento de identidad y de la papeleta de votación vigente</li>
                <li>Copia del título de bachiller notarizado o el Acta de Grado notarizada</li>
                <li>2 fotos tamaño carné</li>
                <li>Hoja de datos personales impresa</li>
                <li>Solicitud de matrícula impresa</li>
                <li>Carpeta de sobre plástica de color <strong>verde</strong></li>
            </ul>
        </div>
    </div>
    <div class="form-group row">
        <div style="width: 100%; text-align:center;">
            <div>
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-print"></span>&nbsp;Imprimir
                </button>
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-file"></span>&nbsp;Hoja de Datos
                </button>
            </div>
        </div>
    </div>  
</div>